@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: black;
    color: greenyellow;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

h1 {
    font-family: 'Train One', cursive;
}

.controls{
    margin: 50px auto;
    text-align: center;
}

.board {
    background-color: white;
    margin: 50px auto;
    position: relative;
    height: 60vw;
    width: 60vw;
}

.result {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 45%;
    left: 45%;
    display: none;
    background-color:greenyellow;
    border-radius: 10%;
}

.backslashVictory {
    background-image: linear-gradient(
        45deg,
        transparent,
        transparent 48%,
        red 49%,
        red 51%,
        transparent 52%
    );
}

.forwardslashVictory {
    background-image: linear-gradient(
        135deg,
        transparent,
        transparent 48%,
        red 49%,
        red 51%,
        transparent 52%
    );
}

.rowOneVictory {
    background-image: linear-gradient(
        transparent,
        transparent 15%,
        red 16%,
        red 18%,
        transparent 19%
    ); 
}

.rowTwoVictory {
    background-image: linear-gradient(
        transparent,
        transparent 48%,
        red 49%,
        red 51%,
        transparent 52%
    ); 
}
.rowThreeVictory {
    background-image: linear-gradient(
        transparent,
        transparent 81%,
        red 82%,
        red 84%,
        transparent 85%
    ); 
}

.colOneVictory {
    background-image: linear-gradient(
        to right,
        transparent,
        transparent 15%,
        red 16%,
        red 18%,
        transparent 19%
    ); 
}
.colTwoVictory {
    background-image: linear-gradient(
        to right,
        transparent,
        transparent 48%,
        red 49%,
        red 51%,
        transparent 52%
    );
}
.colThreeVictory {
    background-image: linear-gradient(
        to right,    
        transparent,
        transparent 81%,
        red 82%,
        red 84%,
        transparent 85%
    ); 
}

#strike {
    position: absolute;
    height: 100%;
    width: 100%;
}

.rung div{
    display: inline-block;
    height: 5vh;
    font-size: 2em;
    width: 10%;
}

.rung img {
    background-color: aliceblue;
    height: 80%;
    width: auto;
    box-sizing: border-box;
    padding: 2px;
}

.active {
    background-color: rgb(135, 189, 236) !important;
}

#container{
    max-width: 100%;
    margin: auto;
}

.square{
    background: grey;
    width: 30%; /* this is the square width 30% x 3 = 90% */
    margin: 1.66%; /* this is the remaining width in-between squares 1.66 x 6 = 40 */
    float:left; /*slides the squares up and to the left. Stacking them properly.*/
    padding-bottom: 30%; /* gives squares vertical height as a percentage of the width of the container. If you remove this the height of the elements will be 0, and  they disappear.*/
    background-repeat: no-repeat;
    background-size: cover;
}